# Python
__pycache__/
*.py[cod]
*.pyo

# Ambiente virtual
venv/
.venv/
env/

# PyInstaller
build/
dist/
*.spec
*.exe

# Editor
.vscode/
.idea/

# Configurações e segredos
.env
config.py
*.key

# Dados reais
dados/clientes.json
dados/processos.json
dados/pendencia.json
dados/pendencias.json

# Sistema operacional
.DS_Store
Thumbs.db
